{% extends "base.html" %}

{% block body %}
	
	{% if user.is_authenticated %}
	<div style="margin-left: 100px; box-shadow: 1px 1px 5px #888888; width: 1100px; padding: 20px;">
	<p style="font-weight: bold; font-size: 20px;"> Add New Album</p>
	<form class="form-inline" enctype="multipart/form-data" action="/musics/{{album_id}}/" method="post">
	{% csrf_token %}
	  	<div class="form-group">
	  		<label for="name"> Album_name: </label>
	    	{{form.name}}
	  	</div>
	  	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	  	<div class="form-group">
	  		<label for="logo"> Singer: </label>
	    	{{form.singer}}
	  	</div>
	  	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	  	<div class="form-group">
	  		<label for="cover"> Cover Logo: </label>
	    	{{form.cover}}
	  	</div>
	  	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	</div>
	{% endif %}

	<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:0px">
	<div class="w3-row-padding w3-padding-16 w3-center" id="food">
	{% for album in all_album %}
	<div class="w3-quarter">
		<div style="box-shadow: 0px 0px 5px #888888;">
	      <a href="/musics/{{album.id}}"><img src="{{ album.cover.url }}" style="width:100%">
	      <p></p><p></p>
	      <p style="font-weight: bold; font-size: 16px;">{{album}}</p></a><br/>
		</div>
	</div>
	{% endfor %}
	</div>
	</div>

{% endblock %}

